/* src/SuperScoreDashboard.css */
.super-score-dashboard {
  display: flex;
  /*flex-direction: column;*/
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius:5px;
  align-items: center;
  padding: 20px;
}

.gauge-container {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
}
.gauge-value {
  position: absolute;
  top: 60%; /* Adjust this value to position the text correctly */
  font-size: 24px;
  font-weight: bold;
  color: #000;
}

.gauge-labels {
  position: absolute;
  width: 72%;
  display: flex;
  justify-content: space-between;
  top: 80%;
  font-weight: bold;
  color:black;
}

.gauge-start, .gauge-end {
  font-size: 14px;
  color: #666;
}

/*.gauge-chart {*/
/*  width: 50%;*/
/*  display: flex;*/
/*  justify-content: center;*/
/*  margin-bottom: 20px;*/
/*}*/

.indicators {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.indicator {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.indicator-bar {
  width: 20px;
  background-color: #ccc;
  transition: height 0.5s;
}

.indicator-label {
  font-size: 12px;
  text-align: center;
}
